@font-face {
	font-family: "CourierNew";
	font-weight: 700;
	src: url("/fonts/CourierNew-Bold.woff2") format("woff2"),
		url("/fonts/CourierNew-Bold.woff") format("woff"),
		url("/fonts/CourierNew-Bold.eot") format("eot"),
		url("/fonts/CourierNew-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "CourierNew";
	font-weight: 400;
	src: url("/fonts/CourierNew.woff2") format("woff2"),
		url("/fonts/CourierNew.woff") format("woff"),
		url("/fonts/CourierNew.eot") format("eot"),
		url("/fonts/CourierNew.ttf") format("ttf");
}