---
import Layout from '../layouts/Layout.astro';
import Work from '../components/Work.astro';
import News from '../components/News.astro';
import Social from '../components/Social.astro';
import { Picture, getImage } from 'astro:assets';

---

<Layout 
	title="Home"
	description="Description"
	keywords="any keywords"
	>
	<main>
		<div>
			<div class="cube -z-10">
				<div class="face">
					<div class="star"></div>
				</div>
				<div class="face">
					<div class="star"></div>
				</div>
				<div class="face">
					<div class="star"></div>
				</div>
				<div class="face">
					<div class="star"></div>
				</div>
				<div class="face">
					<div class="star"></div>
				</div>
				<div class="face">
					<div class="star"></div>
				</div>
			</div>
			<div class="container mx-auto h-screen grid md:grid-cols-3 gap-4 content-center text-center">
				<div class="">
					<h1 class="text-white mb-4">Work</h1>
					<Work/>
				</div>
				<div class="">
					<h1 class="text-white mb-4">News</h1>
					<News/>
				</div>
				<div class="">
					<h1 class="text-white mb-4">Social</h1>
					<Social/>
				</div>
			</div>
		</div>
	</main>
</Layout>
<style is:global lang="scss">
    ul {
        li {
            margin-bottom: 10px;
			
			a {
				font-size: 1.2rem;
			}
        }
    }

	.underline-animation {
        display: inline-block;
        position: relative;
       
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            // background-color: #fff;
			background: linear-gradient(90deg, #2767FF, #C822FF);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
</style>



