<ul class="text-white">
    <li>
        <a href="https://news.ycombinator.com" class="underline-animation" target="_blank">
            <span><i class="fa-brands fa-hacker-news mr-2"></i>Hacker News</span>
        </a>
    </li>
    <li>
        <a href="https://www.orf.at" class="underline-animation" target="_blank">
            <span>Orf News</span>
        </a>
    </li>
    <li>
        <a href="https://www.derstandard.at/" class="underline-animation" target="_blank">
            <span>Der Standard</span>
        </a>
    </li>
</ul>