<ul class="text-white">
    <li>
        <a href="https://www.facebook.com" class="underline-animation" target="_blank">
            <span><i class="fa-brands fa-facebook-f mr-2"></i>Facebook</span>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com" class="underline-animation" target="_blank">
            <span><i class="fa-brands fa-instagram mr-2"></i>Instagram</span>
        </a>
    </li>
    <li>
        <a href="https://www.reddit.com" class="underline-animation" target="_blank">
            <span><i class="fa-brands fa-reddit-alien mr-2"></i>Reddit</span>
        </a>
    </li>
</ul>