<ul class="text-white">
    <li>
        <a href="https://github.com/" class="underline-animation" target="_blank">
            <span><i class="fa-brands fa-github-alt mr-2"></i>Github</span>
        </a>
    </li>
    <li>
        <a href="https://gitlab.com/" class="underline-animation" target="_blank">
            <span><i class="fa-brands fa-gitlab mr-2"></i>Gitlab</span>
        </a>
    </li>
    <li>
        <!-- <a href="https://zimbra.mondial.at" class="underline-animation" target="_blank"> -->
        <a href="https://zimbra.mydc.at" class="underline-animation" target="_blank">
            <span><i class="fa-solid fa-inbox mr-2"></i>Zimbra</span>
        </a>
    </li>
    <li>
        <a href="https://zsw.finkzeit.at/webterm?lic=mondial_baden" class="underline-animation" target="_blank">
            <span><i class="fa-solid fa-clock mr-2"></i>Finkzeit</span>
        </a>
    </li>
    <li>
        <a href="http://10.0.0.4:5000/" class="underline-animation" target="_blank">
            <span><i class="fa-solid fa-server mr-2"></i>SynologyNAS</span>
        </a>
    </li>
</ul>